.tab {
    display: flex;
    flex-wrap: wrap;
}

.tablinks {
    padding: 15px;
    background: #1b2834;
    display: flex;
    color: #fff;
    box-shadow: 0px 0px 5px -2px #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;

    &.active {
        background: #18e0c4;
        transition: .3s ease-in-out;
    }
}

.form-table {
    box-shadow: 0px 1px 6px -3px #000;

    p.description,
    td {
        color: #fff;
    }

    span {
        padding: 3px 0 5px;
        color: #fff;
        border-bottom: 2px solid #6ee1c5;
        border-top: 2px solid #6ee1c5;
        margin-right: 5px;
    }

    input[type=text] {
        max-width: 75px;
    }
}

.header-table {
    background: #18e0c4;
    box-shadow: 0px 1px 6px -3px #000;

    h1 {
        color: #fff;
        text-align: center;
    }
}

.box-element {
    &:nth-child(odd) {
        background: #405669;
    }

    &:nth-child(even) {
        background: #2d3f50;
    }
}

.title {
    background: #1b2733;
    color: #fff;
    width: 100px;
    text-align: center;
}

input[type=number] {
    border: 1px solid #d8d8d8;
    max-width: 55px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -2px #000000;

    &:hover {
        box-shadow: 0px 0px 8px -2px #000000;
    }
}