/* Reset estilos */
.gcs-form {
	display: inline-block;
	width: 100%;
}
.gcs-form ul {
	display: inline-block;
	padding: 0 !important;
	width: 100%;
}
.gcs-form li {
	list-style: none;
	margin-bottom: 20px;
	margin-top: 5px !important;
}
.gcs-form .gfield_radio li,
.gcs-form .gfield_checkbox li {
	clear: both;
	float: left;
	margin-bottom: 8px;
}
.gcs-form .gfield_radio li label,
.gcs-form .gfield_checkbox li label {
	cursor: pointer;
	font-size: 14px;
	text-transform: inherit;
}
.gcs-form .gfield_radio li input {
	height: 14px!important;
	margin-right: 10px;
	width: 14px!important;
	-webkit-appearance: radio;
}
.gcs-form input[type='radio'],
.gcs-form input[type="checkbox"] {
	position: relative;
}
.gcs-form input[type="checkbox"]:after {
	border-color: #d0d0d0;
	cursor: pointer;
}
.gcs-form input[type="checkbox"]:checked:after {
	border: 2px solid white;
}
.gcs-form input[type='radio']:after {
	border-color: #d0d0d0;
}
.gcs-form input[type='radio']:after,
.gcs-form input[type='radio']:checked:after {
	border-radius: 50%;
}
.gcs-form input[type='radio']:after,
.gcs-form input[type='radio']:checked:after,
.gcs-form input[type="checkbox"]:after,
.gcs-form input[type="checkbox"]:checked:after {
	border-width: 1px;
	border-style: solid;
	content: '';
	display: inline-block;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	visibility: visible;
	width: 100%;
	transform: translate(-50%,-50%);
}
/* Componentes formulário */
.gcs-form .col {
	float: left;
}
.gcs-form .col select,
.gcs-form .col textarea,
.gcs-form .col input {
	border: none;
	padding: 10px;
	width: 100%;
}
.gcs-form .col input[type="checkbox"],
.gcs-form .col input[type="radio"] {
	position: relative;
}
.gcs-form .col input[type="checkbox"] {
	height: auto!important;
	width: auto!important;
	-webkit-appearance: checkbox;
}
.gcs-form .col input[type="file"] {
	-webkit-appearance: inherit;
}
.gcs-form .col .name_first,
.gcs-form .col .name_last,
.gcs-form .col .ginput_left,
.gcs-form .col .ginput_right {
	float: left;
	width: 48%;
}
.gcs-form .col .ginput_right,
.gcs-form .col .name_last {
	margin-left: 4%;
}
.gcs-form .col .gfield_label {
	display: -webkit-inline-box;
	padding-bottom: 5px;
	text-transform: initial;
}
.gcs-form .col .ginput_container_date {
	position: relative;
}
.gcs-form .col .ginput_container_date img {
	position: absolute;
	right: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
}
.gcs-form.beta select,
.gcs-form.beta textarea,
.gcs-form.beta input {
	border-radius: 0;
}
.gcs-form.beta select:focus,
.gcs-form.beta textarea:focus,
.gcs-form.beta input:focus {
	box-shadow: none;
}
.gcs-form.beta select {
	-webkit-appearance: none;
}
.gcs-form.alfa select,
.gcs-form.alfa textarea,
.gcs-form.alfa input {
	border-style: solid;
}
.gcs-form.alfa select:focus,
.gcs-form.alfa textarea:focus,
.gcs-form.alfa input:focus {
	box-shadow: none;
}
.gcs-form.alfa input[type="checkbox"]:after,
.gcs-form.alfa input[type="checkbox"]:checked:after,
.gcs-form.alfa input[type="radio"]:after,
.gcs-form.alfa input[type="radio"]:checked:after {
	border-style: solid;
}
.gcs-form .w1 {
	clear: both;
	margin-left: 0;
	width: 100%;
}

.gcs-form .w2 {
	margin-left: 4%;
	width: 48%;
}

.gcs-form .w3 {
	margin-left: 2%;
	width: 32%;
}

.gcs-form .w4 {
	margin-left: 2%;
	width: 23.5%;
}

.gcs-form .w4-2 {
	margin-left: 2%;
	width: 24%;
}

.gcs-form .w-clear {
	clear: both;
	margin-left: 0;
}

.gcs-form .no-label .gfield_label {
	display: none;
}

@media (max-width: 600px) {
.gcs-form .w2,
.gcs-form .w3,
.gcs-form .w4,
.gcs-form .w4-2,
.gcs-form .col .name_first,
.gcs-form .col .name_last,
.gcs-form .col .ginput_left,
.gcs-form .col .ginput_right {
	margin: 0;
	width: 100%;
}
}
/* Calendário */
.ui-datepicker-header {
	padding: 5px 20px!important;
	text-align: center!important;
}
.ui-datepicker-calendar {
	display: inline-block!important;
	padding: 10px!important;
	background: #fff!important;
}
.ui-datepicker-calendar tr {
	border: none!important;
}
.ui-datepicker-calendar th span {
    font-weight: 900!important;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	display: none!important;
}
.ui-datepicker-title {
	display: inline-block!important;
	padding: 5px 0!important;
	width: 100%!important;
}
.ui-datepicker-title select {
	margin: 0 2%!important;
	width: 46%!important;
	border: none!important;
}
.ui-datepicker-calendar td {
	padding: 8px!important;
	text-align: center!important;
	transition: .3s ease-in-out!important;
}
.ui-datepicker-calendar td a {
	color: #000!important;
	text-decoration: none!important;
	padding: 8px!important;
}
/* Botão enviar */
.gcs-form .gform_footer {
	float: right;
	text-align: center;
}
.gcs-form .gform_footer img {
	float: left;
	margin-right: 5px;
	margin-top: 18px;
}
.gcs-form .gform_button {
	border: none;
	cursor: pointer;
	line-height: 1.2;
	padding: 12px 35px;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
/* Configuração de erro */
.validation_error {
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 5px 10px;
}
.gfield_description.validation_message {
	font-size: 14px;
	padding-left: 5px;
	padding-top: 3px;
}
.gform_confirmation_wrapper {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.gform_confirmation_wrapper .gform_confirmation_message {
	color: #fff;
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
}
/* Barra de carregamento */
.gcs-form .gform_wrapper .gf_progressbar_wrapper {
	margin-bottom: 20px;
}
.gcs-form .gform_wrapper .gf_progressbar {
	border-radius: 10px;
}
.gcs-form .gform_wrapper .gf_progressbar_percentage {
	border-radius: 10px;
	padding: 2px 10px;
}
